/* container globlal */
.containerHeader {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    padding: 20px;
}

/* Gestion des éléments à gauche et à droite du Header*/
/* On utilise les mêmes styles puisqu'ils sont similaires */
.sidesItemsContainer{
    display: flex;
    gap: 10px;
    background-color: #FFFF04;
    padding: 5px;
}

.sidesItemsContainer span {
    background-color: darkgreen;
}